DATABRICKS_TOKEN=replace-me
ADLS_OAUTH_CLIENT_ID=replace-me
ADLS_OAUTH_CLIENT_SECRET=replace-me
ADLS_OAUTH_TENANT_ID=replace-me
ADLS_STORAGE_ACCOUNT_NAME=replace-me
SYNAPSE_SQL_ADMIN_LOGIN=synapseadmin
SYNAPSE_SQL_ADMIN_PASSWORD=replace-me
SYNAPSE_FILESYSTEM_NAME=synapse
SYNAPSE_AAD_ADMIN_LOGIN=synapse-sql-admins
SYNAPSE_AAD_ADMIN_OBJECT_ID=replace-me
