resource_group_name = "rg-adventureworks-example"
location = "eastus2"

workspace_name_prefix = "synapse-adventureworks"
managed_resource_group_name_prefix = "rg-synapse-adventureworks"
storage_account_name_prefix = "stsynapse"
filesystem_name = "synapse"

sql_admin_login = "synapseadmin"
aad_admin_login = "synapse-sql-admins"
