resource_group_name = "rg-adventureworks-<random>"
location = "eastus2"
workspace_name_prefix = "dbw-adventureworks"
managed_resource_group_name_prefix = "rg-databricks-adventureworks"
sku = "premium"
